<!--
<div class="controls__container">
    {{#each filters}}
    {{#unless hidden}}
        <select class="form-control" data-filter="{{@key}}">
            <option value="__clear__">{{title}}</option>
            {{#each values}}
            <option value="{{@key}}">{{.}}</option>
            {{/each}}
            <option value="/tables/navigation">{{.}}</option>
        </select>
    {{/unless}}
    {{/each}}

    <select class="form-control" data-filter="timeframe">
        <option value="__clear__">Timeframe</option>
        <option value="last_3_days">Last three days</a></li>
        <option value="this_7_days">This week</a></li>
        <option value="this_28_days">This month</a></li>
    </select>

    <select class="form-control" data-filter="interval">
        <option value="__clear__">Interval</option>
        <option value="hourly">Hourly</a></li>
        <option value="daily">Daily</a></li>
        <option value="weekly">Weekly</a></li>
    </select>

    </div>

</div>
-->
