<section class="feature__container">
    <h1 class="feature__name">
		Page views: <a href="http://next.ft.com/{{ article.id }}">{{ article.headline }}</a> 
	</h1>	
	<p>
		{{ article.genre }}, {{ article.wordCount }} words, {{ article.firstPublished }}
	</p>
</section>
