<section class="feature__container">
    <h1 class="feature__name">{{ title }}</h1>
	<p>
	
	See this data from 
		the <a href="/top?timeframe=yesterday">yesterday</a>,
		<a href="/top?timeframe=today">today</a>, 
		<a href="/top?timeframe=this_24_hours">the last 24 hours</a>,
		<a href="/top?timeframe=this_7_days">the last 7 days</a>.
	</p>
	<table>
		{{#each data}}
		<tr>
			<td>
				<a href="/search?q={{ id }}">{{ headline }}</a> 
				- {{ genre }}
			</td>
			<td>{{ keenio.result }}</td>
		</tr>
		{{/each}}
	</table>
</section>
